.forgot-password-container {
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  
 
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .full-width {
    width: 100%;
  }

  .title {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .next-step-button {
    margin-top: 15px;
  }

  .back-to-login-link {
    margin-top: 10px;
  }
}
