<div class="forgot-password-container">
  <h2 class="title">Let us help you recover your password</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
    <mat-form-field class="full-width">
      <input
        matInput
        formControlName="email"
        placeholder="Email Address"
        type="email"
        autocomplete="current-email"
      />
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="next-step-button"
    >
      Next Step
    </button>

    <div class="back-to-login-link">
      <a routerLink="/signIn">Back to login</a>
    </div>
  </form>
</div>
