.set-password-container {
  width: 90%;
  margin-top: 2rem;
}

.full-width {
  width: 100%;
}

.third-width {
  width: 100%;
}
h2 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: left;
}

.form-group {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}
mat-form-field {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.set-password-container .snackbar {
  width: 80vw;
  display: flex !important;
}
