<div class="set-password-container">
  <h2>Set up new password</h2>

  <form
    [formGroup]="setPasswordForm"
    (ngSubmit)="setPassword()"
    role="form"
    aria-label="Change Password Form"
  >
    <div class="form-group">
      <mat-form-field class="visually-hidden">
        <input
          matInput
          formControlName="username"
          placeholder="Username"
          type="text"
          autocomplete="username"
        />
      </mat-form-field>

      <mat-form-field class="third-width">
        <input
          matInput
          formControlName="currentPassword"
          placeholder="Current Password"
          type="password"
          autocomplete="current-password"
        />
        <mat-error
          *ngIf="setPasswordForm.get('currentPassword')!.hasError('required')"
          >Current password is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="third-width">
        <input
          matInput
          formControlName="newPassword"
          placeholder="New Password"
          type="password"
          autocomplete="new-password"
        />
        <mat-error
          *ngIf="setPasswordForm.get('newPassword')!.hasError('required')"
          >New password is required</mat-error
        >
        <mat-error
          *ngIf="setPasswordForm.get('newPassword')!.hasError('minlength')"
          >New password should be at least 8 characters long</mat-error
        >
      </mat-form-field>

      <mat-form-field class="third-width">
        <input
          matInput
          formControlName="confirmPassword"
          placeholder="Confirm New Password"
          type="password"
          autocomplete="new-password"
        />
        <mat-error
          *ngIf="setPasswordForm.get('confirmPassword')!.hasError('required')"
          >Confirmation is required</mat-error
        >
        <mat-error *ngIf="setPasswordForm.hasError('passwordMismatch')"
          >Passwords do not match</mat-error
        >
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="change-password-button"
    >
      Change Password
    </button>
  </form>
</div>
