.account-settings-container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 1.25rem;
  padding-left: 5rem;
}

.full-width {
  width: 100%;
}

.half-width {
  width: calc(45% - 16px); 
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: left;
}

.form-group {
  display: flex;
  gap: 16px; 
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
}
