.account-settings-container {
  width: 90%;
  
  margin-top: 1rem;
 
}

.full-width {
  width: 100%;
}

.half-width {
  width: 100%
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: left;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  
}

mat-form-field {
  width: 100%;
}
