.create-account-container {
  max-width: 400px;
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .full-width {
    width: 100%;
  }

  .title {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;

    input {
      width: 100%;
    }
  }

  .create-account-button {
    margin-top: 15px;
  }

  .already-have-account-link {
    margin-top: 10px;
  }
}
.page-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}