<div class="container">
  <app-graph
    class="graph"
    [title]="'Sites with largest guest number'"
    [axisX]="'Name'"
    [axisY]="'Guests'"
    [endpoint]="'asessions'"
    [propertyApiName]="'sessions'"
    [adapter]="sessionsAdapter"
    [xProperty]="'Name'"
    [yProperty]="'Guest'"
  ></app-graph>
  <app-graph
    class="graph"
    [title]="'Fastest loading pages'"
    [axisX]="'Name'"
    [axisY]="'Time'"
    [endpoint]="'apages'"
    [propertyApiName]="'pages'"
    [adapter]="subpagesAdapter"
    [xProperty]="'Website'"
    [yProperty]="'Loading_Time'"
    [showTopValues]="true"
  ></app-graph>
  <app-graph
    class="graph"
    [title]="'Slowest loading pages'"
    [axisX]="'Name'"
    [axisY]="'Time'"
    [endpoint]="'apages'"
    [propertyApiName]="'pages'"
    [adapter]="subpagesAdapter"
    [xProperty]="'Website'"
    [yProperty]="'Loading_Time'"
    [showTopValues]="false"
  ></app-graph>
</div>
